* {
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

a .link{
    border-bottom: 2px solid #000;
}

#page-mask {
    background: rgba(0, 0, 0, 0.5);
    z-index:101;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.pop-up{
    z-index: 102;
    display: flex;
    width: 450px;
    height: 300px;
    background-color: #fff;
    display: none;
    
    border-radius: .3rem;
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;
}


.header{
    height: 50px;
    z-index:100;
    font-family: 'Catamaran';
    font-size: 1.2em;
    width: 100%;
    background: #000;
    color: #fff;
    position: fixed;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "lt rt";
}

.header-logo, .header-rt{
    display: flex;
    align-items: center;
}

.header-logo{
    grid-area: lt;
    justify-content: flex-start;
    margin-left: 85px;
}

.header-rt{
    grid-area: rt;
    justify-content: flex-end;
    margin-right: 50px;
}

.header a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.container{
    height: 100%;
    width: 100%;
    padding: 100px 0px 0px 50px;
}

.flash-messages{
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash-messages ul{
    text-decoration: none;
    list-style: none;
}

.capitalise{
    text-transform: uppercase;
}
.flash-notifications{
    width: 100%;
    margin-top: 10px;
    box-sizing: content-box;
    background: lightgreen;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-areas: 'message close';
}

.close-flash, .flash-message{
    display: flex;
    padding: 12px;
    align-items: center;
}

.close-flash img{
    height: 10px;
}

.flash-message{
    grid-area: message;
    justify-content: flex-start;
}

.close-flash{
    grid-area: close;
    justify-content: flex-end;
    cursor: pointer;
}