body{
    background-color: #f3f2f1;
}

.dash-wrapper{
    height: 100%;
    width: 100%;
    padding-top: 50px;
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 60px auto; 
    grid-template-areas: 'side teams';
} 

.dash-side{
    grid-area: side;
    background: #2e2d2c;
}

.dash-side-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 3px solid transparent;
}

.dash-side-item:hover{
    cursor: pointer;
    background: #575451;
}

.dash-side-item.active{
    border-left: 3px solid white;
}

.dash-side-item img{
    height: 23px;
}
.dash-right{
    width: 100%;
    grid-area: teams;
    overflow-y: hidden;
}

.team-head{
    z-index:100;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "lt rt";
}

.team-head-left, .team-head-right{
    display: flex;
    align-items: center;
}

.team-head-left{
    grid-area: lt;
    justify-content: flex-start;
}

.team-head-right{
    grid-area: rt;
    justify-content: flex-end;
}

.teams-view{
    padding-top: 20px;
    /* height: 100%; */
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(6, 1fr);
}

.team-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 .2rem .4rem -.075rem rgba(0,0,0,.1);
}

.team-card:hover{
    background-color:f3f2f1;
    cursor: pointer;
}