body{
    background-color: #f3f2f1;
}
.team-head{
    z-index:100;
    width: 95%;
    position: fixed;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "lt rt";
}

.team-head-left, .team-head-right{
    display: flex;
    align-items: center;
}

.team-head-left{
    grid-area: lt;
    justify-content: flex-start;
}

.team-head-right{
    grid-area: rt;
    justify-content: flex-end;
    /* margin-right: 120px; */
}

.teams-view{
    margin-top: 60px;
    margin-right: 50px;
    height: 100%;
    width: 95%;
    position: fixed;
    display: grid;
    grid-gap: 25px;
    grid-auto-rows: min-content;
    grid-template-columns: auto auto auto auto auto;
}

.team-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 .2rem .4rem -.075rem rgba(0,0,0,.1);
}

.team-card:hover{
    background-color:f3f2f1;
    cursor: pointer;
}

.flash-notifications{
    width: 97.5%;
    margin-top: 10px;
    height: 60px;
    background: lightgreen;
    display: grid;
    grid-template-columns: 98% 2%;
    grid-template-areas: 'message close';
}

.close-flash, .flash-message{
    display: flex;
    align-items: center;
}

.flash-message{
    padding: 20px;
    grid-area: message;
}

.close-flash{
    grid-area: close;
    cursor: pointer;
}