body{
    background-color: #f3f2f1;
}

.dash-wrapper{
    height: 100%;
    width: 100%;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 3% 97%; 
    grid-template-areas: 'side teams';
} 

.dash-side{
    grid-area: side;
    background: #2e2d2c;
}

.dash-side-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dash-side-item:hover{
    cursor: pointer;
    background: #575451;
}

.dash-side-item.active{
    border-left: 3px solid white;
}

.dash-side-item img{
    height: 28px;
}
.dash-right{
    grid-area: teams;
    margin: 50px;
}

.team-head{
    z-index:100;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "lt rt";
}

.team-head-left, .team-head-right{
    display: flex;
    align-items: center;
}

.team-head-left{
    grid-area: lt;
    justify-content: flex-start;
}

.team-head-right{
    grid-area: rt;
    justify-content: flex-end;
    /* margin-right: 120px; */
}

.teams-view{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    position: fixed;
    display: grid;
    grid-gap: 25px;
    grid-auto-rows: min-content;
    grid-template-columns: auto auto auto auto auto;
}

.team-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 .2rem .4rem -.075rem rgba(0,0,0,.1);
}

.team-card:hover{
    background-color:f3f2f1;
    cursor: pointer;
}

.flash-notifications{
    width: 100%;
    margin-top: 20px;
    box-sizing: content-box;
    background: lightgreen;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'message close';
}

.close-flash, .flash-message{
    display: flex;
    padding: 20px;
    align-items: center;
}

.flash-message{
    grid-area: message;
    justify-content: flex-start;
}

.close-flash{
    grid-area: close;
    justify-content: flex-end;
    cursor: pointer;
}