.dash-right{
    margin: 0;
    padding: 0;
}
.team-details{
    height: 100%;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "lt rt";
} 

.team-details-left, .team-details-right{
    padding: 50px;
}

.team-details-left{
    grid-area: lt;
    text-align: justify;
    background: #fff;
}

.team-details-right{
    grid-area: rt;
    background: #f3f2f1;
}

.back-to-dash{
    margin-bottom: 20px;
}

.back-to-dash:hover{
    color: #505050;
}

.back-to-dash p{
    display: inline-block;
}