.dash-right{
    margin: 0;
    padding: 0;
}
.team-details{
    height: 100%;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "lt rt";
} 

.team-details-left{
    padding: 30px;
}

.team-details-left{
    grid-area: lt;
    text-align: justify;
    background: #fff;
}

.team-details-right{
    grid-area: rt;
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-areas:
    'head'
    'body';
    background: #f3f2f1;
}

.team-channel-head{
    grid-area: head;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #d1cfcf;
}

.team-channel-body{
    grid-area: body;
}

.back-to-dash{
    margin-bottom: 20px;
}

.back-to-dash:hover{
    color: #505050;
}

.back-to-dash p{
    display: inline-block;
}