<link rel="stylesheet" href="/static/css/add_member.css">
<script>
    var selected_users = [];
    var team_id = "{{ team.id }}"
    $(document).on('click', '.cancel-add-member', function(){
        $('.pop-up').css('display', 'none');
        $('.pop-up').html('');
        $('.pop-up').css('height', '300px');
        $('#page-mask').css('display', 'none'); 
    });
    
    $(document).on('keyup', '#mid', function(){
        search = $('#mid').val();
        // console.log("Value = " + search);
        if(search != ''){
            url = "/users/search?user=" + search + "&team={{ team.tcode }}";
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    // console.log(data);
                    $('.autocomplete-items').empty();
                    var ok = false;
                    for(var i = 0; i < 5 && i < data.length; ++i){
                        if(selected_users.indexOf(data[i]['username']) == -1){
                            $('.autocomplete-items').append(`<div class="autocomplete-item" id="${i}"><div>${data[i]['username']}</div></div>`);
                            ok = true;
                        }
                    }
                    if(!ok){
                        $('.autocomplete-items').append(`<div class="autocomplete-item" id="-1"><div>No such user exits</div></div>`);
                    }
                    $('.autocomplete-item').click(function(){
                        i = $(this).attr('id');
                        if(i > -1){
                            $('#submit').attr("disabled", false);
                            html = `<div class="selected-user" id="${data[i]['username']}"><div class="image"><img src="/static/images/profile/${data[i]['username'].substr(0, 2).toUpperCase()}.png"></div><div class="name"><p>${data[i]['name']}</p><p>${data[i]['email']}</p></div><div class="close"><img src="/static/images/icons/close.png"></div></div>`;
                            $('.selected-users').append(html);
                            $('.autocomplete-items').empty();
                            $('#mid').val("");
                            selected_users.push(data[i]['username']);
                        }
                        // console.log(selected_users);
                    });

                }
            });
        }
        else
            $('.autocomplete-items').empty();
    });

    $(document).on('click', '.close', function(){
        parentid = $(this).parent().attr('id');
        selected_users.splice(selected_users.indexOf(parentid));
        $('#'+parentid).remove();
        if(selected_users.length == 0)
            $('#submit').attr("disabled", true);	
    });

    $(document).on('click', '#submit', function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/team/add/{{ team.tcode }}/",
            data: {users:selected_users, team: team_id},
            success: function(data){
                if(data.data['status'] == 200){
                    $('.pop-up').html("<div style=\"width: 100%; height: 550px; display: flex; justify-content: center; align-items: center;\"><center><div><img src=\"/static/images/icons/tick.png\" height=\"100px\"><h2 style=\"margin-top: 10px;\">Added successfully</h2><input type=\"submit\" value=\"Close\" style=\"margin-top: 10px;\" class=\"close-popup\"></center></diV>")
                    $('.close-popup').click(function(){
                        window.location = '/team/{{ team.tcode }}/members/'; 
                    });
                }
            }
        });
    });
</script>
<div class="st-form-container" style="padding-top: 15px;">
    <div class="st-form" style="max-width: 600px; margin-left: 20px;">
        <h2>Add members</h2>
        <p>Type a username, then add user to the team.</p>
        <form action="" method="post" novalidate autocomplete="off">
            <div class="autocomplete">
                <input type="text" id="mid" placeholder="Username">
                <div class="autocomplete-items"></div>
            </div>
            <div class="selected-users"></div>
            <p><input type="submit" id="submit" value="Add" disabled="">
            <input style="margin-left: 10px;" type="button" class="cancel-add-member" value="Cancel">
            </p>
        </form>
    
    </div>
</div>