{% extends "dash.html" %}

{% block dashright %}

<script>
    $(document).ready(function(){
        $('.close-flash').click(function(){
            $(this).parent().remove();
        });
        $('.dash-side div').removeClass('active');
        $('.dash-side-item.teams').addClass('active');
    });
</script>
<h1>Hello {{ user.fname }}!</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="flash-notifications">
            <div class="flash-message">
                {{ message }}
            </div>
            <div class="close-flash">  
                <img src="/static/images/icons/close.png" height="15px">
            </div>
        </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <div class="team-head">
        <div class="team-head-left">
            <h2>Your teams</h2>
        </div>
        <div class="team-head-right">
            <a href="/team/join/"><input type="submit" value="Join team" style="margin-right: 15px;"></a>
            <a href="/team/create/"><input type="submit" value="Create team"></a>
        </div>
    </div>
    <div class="teams-view">
        {% if teams %}
            {% for item in teams %}
                <a href="/team/{{ item.Team.tcode }}/""><div class="team-card"><h1>{{ item.Team.tname }}</h1></div></a>  
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}