{% extends "dash.html" %}

{% block dashright %}

<link rel="stylesheet" href="/static/css/chat.css">
<script src="/static/js/chat.js"></script>

<script>
    $(document).ready(function(){   

        var url = 'ws://' + document.domain;
        if(location.port != '')
            url = 'ws://' + document.domain + ':' + location.port;

        $('.dash-side div').removeClass('active');
        $('.dash-side-item.chat').addClass('active');
        
        var first = true;

        var room = window.location.hash.substring(1);

        var socket = io.connect(url, { transports: ["websocket"] });

        socket.emit('join_private_room', {'room': room});
        socket.emit('join_new_messages_room');
        selectUser(room);

        socket.on('general', function(message) {
            console.log("General: " + message);
        });

        socket.on('private_message', function(data){
            addMessage(data, '{{ current_user.username }}');
            lastMessage(data);
        });

        socket.on('new_private_message', function(data){
            if(data['username'] != '{{ current_user.username }}' && room != data['username']){
                $('#id' + data['username']).remove();
                addUserThread(data, 1);
                $('.user-thread').unbind();
                $('.user-thread').click(function(){
                    selectUser($(this).attr('id').substring(2));
                });
            }
        });

        function removeResults(){
            $('.search-result').remove();
            $('.user').removeClass('hide');
        }

        function clearResults(){
            $('.search-result').remove();
            $('.user').addClass('hide');
        }

        //function to add last sent message to recents
        function lastMessage(data){
            select = '#id' + data['username'];
            if(data['username'] == '{{ current_user.username }}'){
                select = $('#id' + room);
                data['username'] = room;
                data['message'] = 'You: ' + data['message'];
            }
            $(select).remove();
            addUserThread(data, 1);
            $('.user-thread').unbind();
            $('.user-thread').click(function(){
                selectUser($(this).attr('id').substring(2));
            });
        }

        // function to load messages of the selected user thread
        function loadMessages(username){
            // console.log("Loading messages");
            $('.chat-messages').html('');
            $.ajax({
                type: "GET",
                url: '/messages/private/' + username,
                success: function (data) {
                    // console.log(data);
                    $.each(data, function(key, value){
                        addMessage(value, '{{ current_user.username }}');
                    });
                }
            }); 
        }

        // function to add user thread to recents
        function addUserThread(data, mode){
            user_thread = `<div class="user user-thread" id="id${data['username']}"><div class="user-image"><img src="/static/images/profile/${data['username'].substr(0, 2).toUpperCase()}.png"></div><div class="user-info"><span class="user-username">${data['username']}</span><span class="user-last-message">${data['message']}</span></div><div class="user-date">${data['time']}</div></div>`;
            if(mode == 0)
                $('.users').append(user_thread);
            else 
                $('.users').prepend(user_thread);
        }

        // function to send message
        function sendMessage(){
            // console.log("Sending message");
            if($('#message-field').val() != '')
                socket.emit('private_message', {'message': $('#message-field').val(), 'room': room});
            $('#message-field').val('');
        }
        
        function selectUser(username){
            
            if(username == '')
                return;
            
            if(first == true){
                $('.dash-chat-right').html('<div class="chat-header"><div class="header-image"><img src="/static/images/icons/user.png"></div><div class="header-info"><span class="header-user-name"></span><span class="header-username"></span> </div></div><div class="chat-body-wrapper chat-wrapper"><div class="chat-body"><div class="chat-messages"></div></div><div class="chat-footer"><div class="message-sender"><input type="text" placeholder="Type your message" id="message-field"><button id="send-message"></button></div></div></div>');
                
                // event listeners for send message button
                $('#send-message').click(function(e){
                    e.preventDefault();
                    sendMessage();    
                });
                
                $("#message-field").on('keyup', function (e) {
                    if (e.keyCode === 13) {
                        sendMessage();
                    }
                });
                
                first = false;
            }

            removeResults();
            $('#message-field').val('');
            // console.log("Leaving room " + room);
            socket.emit('leave_private_room', {'room': room});
            room = username;
            socket.emit('join_private_room', {'room': room});
            window.location.hash = username;
            $.ajax({
                type: "GET",
                url: '/user/' + username,
                success: function (data) {
                    if(data.hasOwnProperty('data')){
                        data = data.data;
                        $('.header-user-name').html(data['name']);
                        $('.header-username').html('@' + data['username']);
                        $('.header-image').html(`<img src="/static/images/profile/${data['username'].substr(0, 2).toUpperCase()}.png">`)
                        loadMessages(data['username']);
                    }
                    // else
                    //     // console.log("Invalid user");
                }
            });
        }

        $.ajax({
            type: "GET",
            url: '/messages/private/recent/',
            success: function (data) {
                $.each(data, function(key, value){
                    addUserThread(value, 0);
                    $('.user-thread').unbind();
                    $('.user-thread').click(function(){
                        selectUser($(this).attr('id').substring(2));
                    });
                });
            }
        });

        $(document).on('keyup', '#search-field', function(){
            search = $('#search-field').val();
            // console.log("Seaching for " + search);
            if(search != ''){
                url = "/users/search?user=" + search;
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        // console.log(data);
                        clearResults();
                        if(data.length != 0){
                            $.each(data, function(x, values){
                                var search_result = `<div class="user search-result" id="id${values['username']}"><div class="user-image"><img src="/static/images/profile/${values['username'].substr(0, 2).toUpperCase()}.png"></div><div class="user-info"><span class="user-username">${values['username']}</span><span class="user-last-message">Send a message</span></div></div>`;
                                $('.users').append(search_result);
                            });
                            $('.search-result').click(function(){
                                $('#search-field').val('');
                                $('.search-close-button').css('display', 'none');
                                selectUser($(this).attr('id').substring(2));
                            });
                        }
                        else{
                            $('.users').append(`<div class="search-result" style="margin: 10px;">No users found.</div>`);
                        }
                        $('.search-close-button').css('display', 'block');
                    }
                });
            }
            else{
                removeResults();
                $('.search-close-button').css('display', 'none');
            }
        });

        $('.search-close-button').click(function(){
            removeResults();
            $('#search-field').val('');
            $('.search-close-button').css('display', 'none');
        });

    });
</script>
<style>

    .dash-chat{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 370px auto;
        grid-template-areas: "lt rt";
    } 

    .dash-chat-left{
        grid-area: lt;
        background: #fff;
        overflow-y: hidden;
    }

    .search-users{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        margin: 10px;
    }
    .search-users img{
        height: 15px;
        margin-right: 5px;
    }

    .search-users input[type="text"]{
        background-color: #d1d1d1;
        font-size: 14px;
        height: 40px;
        width: 100%;
        border-radius: 2px;
        padding-left: 15px;
    }

    .users{
        height: 100%;
        width: 100%;
        display: flex;
        overflow-y: auto;
        flex-direction: column;
    }

    .user{
        display: flex;
        align-items: center;
        padding: 10px;
        height: 60px;
        cursor: pointer;
    }

    .user:hover{
        background-color: #e8e8e8;
    }


    .user-image{
        flex: 0 0 40px;
    }

    .user-image img, .header-image img{
        height: 33px;
    }

    .user-info{
        flex: 0 0 220px;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        overflow: hidden;
        white-space: nowrap;
    }

    .user-last-message{
        font-size: 12px;
    }

    .user-date{
        flex: 0 0 90px;
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
    }

    .dash-chat-right{
        grid-area: rt;
        overflow: hidden;
        background: #f3f2f1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .chat-header{
        flex: 0 0 60px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-bottom: 0.5px solid #d1cfcf;
    }

    .header-info{
        padding-left: 20px;
        display: flex;
        font-size: 14px;
        flex-direction: column;
    }

    .header-username{
        font-size: 12px
    }

    .chat-body-wrapper{
        flex: 1 1 auto;
        overflow-y: auto;
    }

    .search-close-button, .search-close-button:hover{
        border: none;
        background-color: #d1d1d1;
        height: 40px;
        width: 40px;
        background-image: url('/static/images/icons/close.png');
        background-size: 10px;
        padding-right: 5px;
        cursor: pointer;
        display: none;
        background-position: center;
        background-repeat: no-repeat;
    }
    .hide{
        display: none;
    }

</style>
<div class="dash-chat">
    <div class="dash-chat-left">
        <div class="search-users">
            <input type="text" placeholder="Search" id="search-field">
            <div class="search-close-button"></div>
        </div>
        <div class="users">
            <!-- <div class="user user-thread" id="username">
                <div class="user-image">
                    <img src="/static/images/icons/user.png">
                </div>
                <div class="user-info">
                    <span class="user-username">Username</span>
                    <span class="user-last-message">Last message</span>
                </div>
                <div class="user-date">
                    24 Apr
                </div>
            </div> -->
        </div>
    </div>
    <div class="dash-chat-right">
        <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2>Start a conversation.</h2>
            <img src="/static/images/icons/conversation.png" height="300px" style="margin-top: 50px;">
        </div>
    </div>
</div>
{% endblock %}