{% extends "dash.html" %}

{% block dashright %}
<script>
    $(document).ready(function(){   
        $('.dash-side div').removeClass('active');
        $('.dash-side-item.tasks').addClass('active');
    });
</script>
<style>
    .tasks-head{
        z-index:100;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "lt rt";
        padding: 15px 25px 15px 35px;
        border-bottom: .1rem solid rgba(37,36,35,.05);
    }
    .tasks-grid{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-areas: "task-left task-right";
        padding: 20px 25px 25px 35px;
    }
    .tasks-left{
        grid-area: task-left;
    }
    .task-item{
        width: 100%;
        height: 140px;
        display: flex;
        align-items: center;
        background: #fff;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    .task-item-info{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .info-blocks{
        display: flex;
        margin-top: 5px;
    }

    .info-blocks span, .date{
        display: inline-block;
        border-radius: 4px; 
        color: #fff;
        padding: 2px 10px 2px 10px; 
        margin-right: 10px;
    }

    .date{
        background: #2f69c4;
    }

    .border-line{
        width: 100%;
        border-bottom: .1rem solid rgba(37,36,35,.05);
        margin-bottom: 20px;
    }
    
    .task-item-deadline{
        flex: 0 0 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .task-item-deadline img{
        height: 30px;
        margin-right: 10px;
    }

    .tasks-right{
        grid-area: task-right;
        padding-left: 20px;
    }

    .tasks-right-item{
        padding: 10px;
        margin-top: 10px;
        border-radius: 4px;
        background-color: #fff;
    }

</style>
<div class="dash-tasks-wrapper">
    <div class="tasks-head">
        <h3>Tasks</h3>
    </div>
    <div class="tasks-grid">
        <div class="tasks-left">
            {% for date in tasks %}
                <div class="date">
                    {{ date.strftime("%d %b %Y") }}
                </div>
                {% for task in tasks[date] %}
                    <a href="/team/{{ task[0].team_code }}/tasks/{{ task[0].task_code }}/">
                        <div class="task-item">
                            <div class="task-item-info">
                                <p style="font-size: 20px;"><b>{{ task[1] }}</b> \ {{ task[0].title }}</p>
                                <div class="info-blocks">
                                    {% if task[0].tag != "" %}
                                    <span style="background: #4e4f4e;">{{ task[0].tag }}</span>
                                    {% endif %}
                                    {% if task[0].status == True %}
                                        <span style="background: #006100">Status: Completed</span>
                                    {% elif datetimenow.date() <= task[0].deadline.date() %}
                                        <span style="background: #009400">Status: Ongoing</span>
                                    {% else %}
                                        <span style="background: #bf0016">Status: Pending</span>  
                                    {% endif %}    
                                </div>
                                <div style="margin-top: 10px;">
                                    <span>Added on: {{ task[0].created_on.strftime("%d %b %Y") }}</span>
                                </div>
                            </div>
                            <div class="task-item-deadline">
                                <img src="/static/images/icons/deadline.png">
                                <p>{{ task[0].deadline.strftime("%d %b %Y") }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                <div class="border-line"></div>
            {% endfor %}
        </div>
        <div class="tasks-right">
            <h3>Stats</h3>
            <div class="tasks-right-item">
                <b>{{ tasks_pending }}</b> Tasks pending
            </div>
            <div class="tasks-right-item">
                <b>{{ tasks_completed }}</b> Tasks completed
            </div>
            <div class="tasks-right-item">
                <b>{{ tasks_created }}</b> Tasks created
            </div>
        </div>
    </div>

</div>
{% endblock %}