<script>
    $(document).on('click', '.cancel-delete', function(e) {
        e.preventDefault();
        $('.pop-up').css('display', 'none');
        $('.pop-up').html('');
        $('#page-mask').css('display', 'none'); 
    });
</script>
<div class="delete-team"style="padding: 60px; text-align: justify;">
    <h2>Are you sure?</h2>
    <p style="margin-top: 15px; margin-bottom: 15px;">
        Deleting a team is <b>permanent and cannot be reverted.</b> All the current members will be removed from the team without any notification. And all the data associated with the team will be deleted.
    </p>
    <form action="/team/delete/{{ team.tcode }}/" method="POST">
        <input type="submit" class="confirm-delete" value="Confirm">
        <input type="submit" style="margin-left: 10px" class="cancel-delete" value="Cancel">
    </form>
</div>