{% extends "base.html" %}

{% block content %}

<script>
    $(document).ready(function() {
        $('form').submit(function (e) {
            var url = "{{ url_for('join_team') }}";
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(),
                success: function (data) {
                    if(!data.hasOwnProperty('data'))
                        $(".st-form-container").html(data);
                    else if(data.hasOwnProperty('data')){
                        $(".st-form-errors span").html(data.data['error']);
                        $(".st-form-errors").css('display', 'block');
                    }
                }
            });
            e.preventDefault();
        });

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    }); 
</script>

<div class="st-form-container">

    <div class="st-form">

        <h1>Join Team</h1>
        <p></p>
        <form action="" method="post" novalidate autocomplete="off">
            {{ form.hidden_tag() }}
            <div class="st-form-field">
                {{ form.tcode }}
            </div>
            <div class="st-form-errors"><span></span></div>
            <p>{{ form.submit }}</p>
        </form>
    
    </div>

</div>

{% endblock %}