<script>
    $(document).on('submit', 'form', function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{{ url_for('join_team') }}",
            data: $('form').serialize(),
            success: function (data) {
                if(data.hasOwnProperty('data') && data.data['status'] == 200)
                    window.location = '/dashboard';
                else{
                    $(".st-form-errors span").html(data.data['tcode']);
                    $(".st-form-errors").css('display', 'block');
                }
            }
        });
    }); 

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
            }
        }
    })

    $(document).on('click', '.cancel-join', function(){
        $('.pop-up').css('display', 'none');
        $('.pop-up').html('');
        $('#page-mask').css('display', 'none');
    });

</script>
<style>
    .join input[type="button"], .join input[type="submit"]{
        width: 170px;
    }
</style>
<div class="st-form-container">

    <div class="st-form join">

        <h1>Join a team</h1>
        <p>Enter the team code.</p>
        <form action="" method="post" novalidate autocomplete="off">
            {{ form.hidden_tag() }}
            <div class="st-form-field">
                {{ form.tcode }}
            </div>
            <div class="st-form-errors"><span></span></div>
            <p>{{ form.submit }}
            <input style="margin-left: 10px" type="button" class="cancel-join" value="Cancel">
            </p>
        </form>
    
    </div>

</div>