{% extends "base.html" %}

{% block content %}
<script>
    $(document).ready(function() {
        $('form').submit(function (e) {
            var url = "{{ url_for('register') }}";
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(),
                success: function (data) {
                    // console.log(data);
                    if(data.hasOwnProperty('data')){    
                        
                        data = data.data;

                        if(data.hasOwnProperty('email')){
                            $(".st-form-errors.email span").html(data['email']);
                            $(".st-form-errors.email").css('display', 'block');
                        }
                        else{
                            $(".st-form-errors.email").css('display', 'none');
                        }

                        if(data.hasOwnProperty('username')){
                            $(".st-form-errors.username span").html(data['username']);
                            $(".st-form-errors.username").css('display', 'block');
                        }
                        else{
                            $(".st-form-errors.username").css('display', 'none');
                        }

                        if(data.hasOwnProperty('name')){
                            $(".st-form-errors.name span").html(data['name']);
                            $(".st-form-errors.name").css('display', 'block');
                        }
                        else{
                            $(".st-form-errors.name").css('display', 'none');
                        }

                        if(data.hasOwnProperty('password')){
                            $(".st-form-errors.password span").html(data['password']);
                            $(".st-form-errors.password").css('display', 'block');
                        }
                        else{
                            $(".st-form-errors.password").css('display', 'none');
                        }
                        
                    }
                    else{
                        $(".st-form-container").html(data);
                    }
                }
            });
            e.preventDefault();
        });

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>

<div class="st-form-container">

    <div class="st-form">

        <h1>Register</h1>
        <p>Please fill in the following details and complete your registeration</p>
        <p>Already have an account ? <a href="/login/"><span class="link">Sign in</span></a></p>
        <form action="" method="post" novalidate autocomplete="off">
            {{ form.hidden_tag() }}
            <div class="st-form-field name">
                {{ form.name }}
            </div>
            <div class="st-form-errors name"><span></span></div>
            <div class="st-form-field">
                {{ form.username }}
            </div>
            <div class="st-form-errors username"><span></span></div>
            <div class="st-form-field">
                {{ form.email }}
            </div>
            <div class="st-form-errors email"><span></span></div>
            <div class="st-form-field">
                {{ form.password }}
            </div>
            <div class="st-form-errors password"><span></span></div>
            <p><input type="submit" value="Register"></p>
        </form>
    
    </div>

</div>

{% endblock %}