{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/team-view.css">
<!-- <script>
    $(document).ready(function() {
        
        $('.add-member').click(function(){
            $('#page-mask').css('display', 'block');
            var url = "{{ url_for('login') }}";
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('.pop-up').html(data);        
                }
            });
            $('.pop-up').css('display', 'block');
        });
    });
</script> -->
<div class="pop-up"></div>

<div class="container">
    <div class="team-details">
        <div class="team-details-left">
            <div>
                <a href="\dashboard">
                <div class="back-to-dash">
                    <img src="\static\images\icons\back1.png" height="10px">
                    <p>All teams</p>
                </div>
                </a>
                <center>
                    <img src="\static\images\teamwork.png" height="100px">
                    <h1 style="margin-top: 10px;">{{ team.tname }}</h1>
                </center>
                <div style="margin-top: 20px">
                    <p>{{ team.tdesc }}</p>
                </div>
                <div style="margin-top: 20px; float: left;">
                    <center>
                        {% if checkAdmin == False %}
                        <input type="submit" value="Leave team">
                        {% endif %}
                        {% if checkAdmin == True %}
                        <input type="submit" class ="add-member" value="Add Member" style="width: 120px; margin-right: 10px;">
                        <input type="submit" value="Delete Team" style="width: 120px">
                        {% endif %}
                    </center>
                </div>
            </div>
        </div>
        <div class="team-details-right">
            <h1>{{ team.tname }} channel</h1>
            <p>Feature under development.</p> 
        </div>
    </div>
</div>

{% endblock %}