{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/team-view.css">
<div class="container">
    <div class="team-details">
        <div class="team-details-left">
            <div>
                <center>
                    <img src="\static\images\teamwork.png" height="100px">
                    <h1 style="margin-top: 10px;">{{ team.tname }}</h1>
                </center>
                <div style="margin-top: 20px">
                    <p>{{ team.tdesc }}</p>
                </div>
                <div style="margin-top: 20px; float: left;">
                    <center>
                        {% if checkAdmin == False %}
                        <input type="submit" value="Leave team">
                        {% endif %}
                        {% if checkAdmin == True %}
                        <input type="submit" value="Add Member" style="width: 120px; margin-right: 10px;">
                        <input type="submit" value="Delete Team" style="width: 120px">
                        {% endif %}
                    </center>
                </div>
            </div>
        </div>
        <div class="team-details-right">
            <h1>{{ team.tname }} channel</h1>
            <p>Feature under development.</p> 
        </div>
    </div>
</div>

{% endblock %}