{% extends "dash.html" %}

{% block dashright %}
<link rel="stylesheet" href="/static/css/team-view.css">
<script>
    $(document).ready(function() {
        document.title = '{{ team.tname }} | Meraki';
        $('.dash-side div').removeClass('active');
        $('.dash-side-item.teams').addClass('active');

        $('.add-member').click(function(){
            $('#page-mask').css('display', 'block');
            var url = "/team/add/{{ team.tcode }}/";
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('.pop-up').html(data);      
                }
            });
            $('.pop-up').css('height', '550px');
            $('.pop-up').css('display', 'block');
        });

        $('.delete-team').click(function(){
            $('#page-mask').css('display', 'block');
            var url = "/team/delete/{{ team.tcode }}/";
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('.pop-up').html(data);      
                }
            });
            $('.pop-up').css('display', 'block');
        });

    });
</script>
<div class="pop-up" style="width: 650px"></div>
<div class="team-details">
    <div class="team-details-left">
        <div>
            <a href="/dashboard/">
            <div class="back-to-dash">
                <img src="/static/images/icons/back.png" height="10px">
                <p>All teams</p>
            </div>
            </a>
            <center>
                <img src="/static/images/icons/teamwork.png" height="100px">
                <h1 style="margin-top: 10px;">{{ team.tname }}</h1>
            </center>
            <div style="margin-top: 20px">
                <p>{{ team.tdesc }}</p>
            </div>
            <div style="margin-top: 20px; float: left;">
                <center>
                    {% if checkAdmin == False %}
                    <input type="submit" value="Leave team">
                    {% endif %}
                    {% if checkAdmin == True %}
                    <input type="submit" class ="add-member" value="Add Member" style="width: 120px; margin-right: 10px;">
                    <input type="submit" class ="delete-team" value="Delete Team" style="width: 120px">
                    {% endif %}
                </center>
            </div>
        </div>
    </div>
    <div class="team-details-right">
        <div class="team-channel-head">
            <div>
                <img src="/static/images/icons/teamwork.png" height="30px">
            </div>
            <div>
                <h3>{{ team.tname }} channel </h3>
            </div>
            <div class="tabs" style="margin-left: 10px;">
                <a href="/team/{{ team.tcode }}/chat/"><div><p class="chat-tab">Chat</p></div></a>
                <a href="/team/{{ team.tcode }}/tasks/"><div><p class="tasks-tab">Tasks</p></div></a>
                <a href="/team/{{ team.tcode }}/members/"><div><p class="members-tab">Members</p></div></a>
            </div>
        </div>
        <div class="team-channel-body">
            {% block righttab %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}